body {

    background-color: paleturquoise;
    margin: 0px;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 26px;
}


main {
    padding: 6px 26px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

ul li a {
    text-decoration: none;
}



.input {
    padding: 12px 0px;
}

.section,
footer {
    padding: 20px 60px;

}

footer ul {
    padding: 0px;
}