body {
    background-color: palevioletred;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 26px;
}


main {
    padding: 6px 26px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

ul li a {
    text-decoration: none;
}